<% content_for(:forum_content) do %>
  <div class="large-12 columns">
    <h1>Hoş geldiniz!</h1>
    <div class="topics panel columns radius ">
      <% if @topics.any? %>
        <%= render @topics %>
      <% else %>
        <p>Henüz hiç bir konu açılmamış.</p>
      <% end%>
    </div>
  </div>
<% end %>
