<% provide :title, "Forum: #{@forum.name}" %>
<% content_for(:forum_content) do %>
  <div class="columns">
    <div>
      <h1 class="left"><%= @forum.name %> Forumu</h1>
      <% if signed_in? %>
        <%= link_to 'Konu Aç', new_forum_topic_path(@forum),
                               class: 'small new button right radius alert' %><hr>
      <% end %>
    </div>
    <div class="topics panel columns radius ">
      <% if @topics.any? %>
        <%= render @topics %>
      <% else %>
        <p>Henüz hiç bir konu açılmamış.</p>
      <% end%>
    </div>
  </div>
<% end %>
