<% provide :title, 'Yorum Ekle' %>
<div class="topics panel columns radius ">
  <h2><%= @topic.title %></h2>
  <p><%= markdown @topic.body  %></p>
  <%= topic_info(@topic) %>
</div>
<div class="small-11 columns offset-1">
  <h4>Konuya yorum yapın.</h4>
  <%= render 'form' %>
</div>
