<% provide :title, 'Kaydol' %>
<div class="row">
  <div class="large-7 medium-6 small-12 columns">
    <h2>Aramıza katılın!</h2>
    <%= render 'form' %>
  </div>
  <div class="large-4 medium-5 offset-1 columns panel hide-for-small">
    <h3>Buralarda yeni misin?</h3>
    <p>O halde; hemen bir hesap oluştur ve bu büyük aileye katıl!</p>
    <ul>
      <li>Takıldığın konularla ilgili sorular sor.</li>
      <li>Diğerlerinin sorularını cevapla.</li>
      <li>İlgi alanlarını takip et ve tartışmalara dahil ol.</li>
    </ul>
    <p class="lead">Öğrenirken, öğretmek için yandaki formu doldurarak başlayabilirsin.</p>
  </div>
</div>
