<% provide :title, @user.name %>
<% content_for(:profile_content) do%>
  <h2><%= page.capitalize %></h2><hr>
  <% if @data.blank? %>
    <p>Kullanıcıya ait <%= page %> bulunmamaktadır.</p>
  <% else %>
    <%= render @data %>
  <% end %>
<% end %>
