// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-area{
  min-height: 100px;
}
.comment{
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 10px 15px;}
