// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.side-nav li{
  padding: 10px 5px 5px;
  border-top: 1px solid #ddd;
  font-weight: bolder;
}
